<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	
	<bean name="userDao"  class="cn.tf.dao.impl.UserDaoImpl"></bean>
	<bean name="businessService"  class="cn.tf.service.impl.BusinessServiceImpl">
		<property name="userDao"  ref="userDao"></property>
	
	</bean>
</beans>
	